<div class="container">
  <h1><%=@cocktail.name%></h1>
  <h3> Detalles de Cocktail </h3>

  <%= link_to "Medidas", new_cocktail_dose_path(@cocktail), class: "btn btn-flat" %>


  <ul>
    <% @cocktail.doses.each do |dose| %>
    <li>
      <%= dose.description %>
      <%= dose.ingredient.name %>
      <%= link_to "Delete", cocktail_dose_path(@cocktail, dose), method: :delete, data: { confirm: "Estas seguro?"} %>       
    </li>
    <% end %>
  </ul>

<%= link_to "volver", cocktails_path %>
</div>

